* {
    box-sizing: border-box;
}

html {
    box-sizing: inherit;
    font-family: 'Arial', sans-serif;
    font-size: 10px;
}

body {
    display: flex;
    justify-content: center;
    background-color: rgba(186, 210, 218, 0.3);
}

button {
    border: none;
    cursor: pointer;
    font-size: 2rem;
    height: 55px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 3px;
}

button:hover {
    filter:brightness(110%);
}
button:active {
    border: 1px solid rgb(225, 225, 225);
    filter: brightness(80%);
}
button:focus-visible {
    filter:brightness(130%);
    border: 1px solid rgb(225, 225, 225);
    outline: none;
}

button,
.calculator__operation-result,
.calculator__operation-input {
    color: rgb(255, 255, 255);
}

.calculator {
    background-color: rgb(36, 37, 38);
    border: 3px solid rgb(100, 120, 135);
    border-radius: 1rem;
    width: 330px;
}

.calculator__button-container {
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(4, 70px);
    padding: 1.5rem;
}

.calculator__operation-display {
    margin: 0 auto;
    max-width: calc(70px * 4 + 5px * 3);
}

.calculator__operation-input {
    background-color: rgb(58, 59, 60);
    border: 1px solid rgb(155, 155, 155);
    border-radius: 3px;
    font-size: 2.3rem;
    min-height: 45px;
    padding: 1rem 1.5rem;
    text-align: right;
    width: 100%;
}
.calculator__operation-input:focus {
    outline: none;
}

.calculator__operation-result {
    align-items: flex-end;
    display: flex;
    justify-content: flex-end;
    border-bottom: 1px solid rgb(155, 155, 155);
    font-size: 2rem;
    margin: 0 0 1.8rem;
    min-height: 65px;
    padding: .8rem;
    text-align: right;
}

.number-btn {
    background-color: rgb(23, 151, 207);
}
.operator-btn,
.plusmn-btn,
.clear-btn,
.decimal-btn {
    background-color: rgb(197, 57, 80);
}
.delete-btn {
    align-items: center;
    display: flex;
    justify-content: center;
}

.delete-btn,
.equals-btn {
    background-color: rgb(58, 59, 60);
    border: 1px solid rgba(255, 255, 255, 0.137);
}

.input-color {
    color: hsl(198, 100%, 65%);
}